/* ==========================================================================
   GOOGLE FONTS
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic);

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,700,700italic,900,900italic,400italic);

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


/* ==========================================================================
   SVG ICONS
   ========================================================================== */

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e600";
}

.icon-portfolio:before {
  content: "\e603";
}

.icon-mail:before {
  content: "\e602";
}

.icon-pencil:before {
  content: "\e604";
}

.icon-glasses:before {
  content: "\e601";
}

/* ==========================================================================
   MY RESET STYLES
   ========================================================================== */

* {
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

html,
button,
input,
select,
textarea {
  color: #2C3E50;
}

html,
body {
  height: 100%;
}

body {
  font-size: 1em;
  line-height: 1.4;
  font-weight: 300;
  font-family: Lato, Arial, sans-serif;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  -webkit-transition: 200ms;
  transition: 200ms;
  outline: none;
}

/* 
   Typography
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrast, Merriweather, Georgia, serif;
  margin: 0 0 1em 0;
  font-weight: 400;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
}

p {
  margin: 0 0 1em 0;
}

/* Helpers font family & weight */

.serif {
  font-family: Merriweather, Georgia, serif;
}

.sans-serif {
  font-family: Lato, Arial, sans-serif;
}

.light {
  font-weight: 300;
}

.normal {
  font-weight: 400;
}

/* General colors */

.color-white {
  color: #FFF;
}

.color-red {
  color: #FFCD50;
}

.color-blue {
  color: #7EBBD8;
}

.color-dark-blue {
  color: #2F3F4F;
}

.color-gray {
  color: #D7DADB;
}

/* ==========================================================================
   LAYOUT
   ========================================================================== */

.side {
  background: #FFCE3C;
  width: 230px;
  display: block;
  height: 100%;
  z-index: 2;
  position: fixed;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.main {
  /*padding-left: 230px;*/
  height: 100%;
  background-color: #F3F3F3;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

/* ==========================================================================
   SIDE NAV MENU
   ========================================================================== */
/* 
   Toggle menu
   ========================================================================== */

#toggle-menu-label{
  position: absolute;
  left: 15px;
  top: 15px;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
#toggle-menu-label:after{
  content: '☰';

  display: block;
  font-size: 2em;
  color: #FFF;  
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
}
#toggle-menu-label:focus{
  margin-left: 230px;
}
#toggle-menu{
  display: none;
}

#toggle-menu:checked ~ .main{
    -webkit-transform: translate3d(230px, 0, 0);
    transform: translate3d(230px, 0, 0);
}
.main:after{
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}
#toggle-menu:checked ~ .main:after{
  opacity: 1;

}

#toggle-menu:checked ~ .side{
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}
#toggle-menu:checked ~ #toggle-menu-label{
    -webkit-transform: translate3d(245px, 0, 0);
    transform: translate3d(245px, 0, 0);
}

/* 
   Main navegation
   ========================================================================== */

.main-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: .8em;
  font-family: montserrat, sans-serif;
}

.main-nav li {
  display: block;
  text-align: center;
}

.main-nav li a {
  text-decoration: none;
  color: #FFF;
  font-weight: 400;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: 200ms;
  transition: 200ms;
  margin: 1em;
  padding: 0.5em 0;
  border-bottom: 2px solid #FFCE3C;
}

.main-nav li.current a,
.main-nav li a:hover {
  border-bottom: 2px solid #FFF;
}

/* 
   Site title box
   ========================================================================== */

.site-title {

  width: 120px;
  height: 120px;
  display: block;
  text-decoration: none;
  padding: 40px 0;
  text-align: center;
  margin: 50px auto 50px auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: 3px solid #FFF;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.site-title:hover {
  background-color: #FFF;
  color: #FFF;
}

.site-title .glasses {
  font-size: 2em;
  margin: 0;
  color: #FFF;
  -webkit-transition: all 500ms cubic-bezier(0.000, 0.555, 0.260, 1);
  /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0.000, 0.555, 0.260, 1.455);
  transition: all 500ms cubic-bezier(0.000, 0.555, 0.260, 1.455);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.000, 0.555, 0.260, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.000, 0.555, 0.260, 1.455);
  transition-timing-function: cubic-bezier(0.000, 0.555, 0.260, 1.455);
  /* custom */
}
.site-title:hover .glasses{
  color: #FFCE3C;

}

/* 
   Footer
   ========================================================================== */

.side-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #FFCD50;
  text-align: center;
  color: #FFF;
  padding: 1em;
}

.social {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.social li {
  padding: 0;
  display: inline-block;
}

.social a {
  width: 2em;
  height: 2em;
  display: block;
  position: relative;
  top: 0;
  font-size: 1.2em;
  line-height: 1.8em;
  font-style: italic;
  color: #FFF;
  text-decoration: none;
  border: 2px solid #FFF;
  font-family: Merriweather, Georgia, serif;
}

.social a:hover {
  background-color: #FFF;
  color: #FFCD50;
}

.social a:active {
  top: 2px;
}

.legal {
  font-size: 0.8em;
  margin: 0;
}

/* ==========================================================================
   HOME
   ========================================================================== */

.home-wrapper {
  height: 100%;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.home-wrapper::before{
  background-color: rgba(1,118,138,.6);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
}

.home-message {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
}

.home-message h1 {
  font-size: 2.8em;
}

.home-message h2 {
  font-size: 2em;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   BLOCK GRIDS
   ========================================================================== */

.grid-3{
  width: 100%;
  clear: both;
  overflow: hidden;
}
.grid-3 .col{
  width: 33.3333333333%;
  float: left;
  margin: 0;
}
.grid-3 .col img{
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   ANIMATIONS
   ========================================================================== */

.animated {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
}

.delay10 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}